In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of evaluation of arithmetic expressions in Python
- An example of conversion from minutes to hours

In [ ]:
# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Matlab
5. Julia

In [ ]:
#Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy
4. PyTorch

In [ ]:
## Data Science Tools

| Data Science Tools  |
|                     |
| Jupyter Notebooks   |
| RStudio             |
| MySQL               |

In [2]:

# This is a simple arithmetic expression to multiply then add integers.
X = (3 * 4) + 5


print(X)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = 60
result= round (minutes/hours, 1)

print(result)

3.3

In [ ]:
# Author

Alessandro